  #toolbarTitle {
    font-weight: bold;
    color: #f78b1e;
    font-family: Comforta;
  }
  #toolbarSubTitle {
    font-weight: bolder;
    color: #dcddde;
    font-family: Avenir;
  }
  #divLocationIndicator {
      height: 90px;
      width: auto;
      background-color: #F78B1E;
      font-family: Avenir;
      font-size: 40px;
      font-weight: lighter;
      padding-left: 8px;
      padding-top: 12px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }