#mainCardTitle {
    font-family: 'Roboto';
    font-size: 35px;
    font-weight: 300;
}
#mainDataNumber{
    font-family: 'Roboto';
    font-size: bold;
    font-size: 50px;
}
#dataNumber {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
    color: blue;
}
#subDataText {
    font-family: 15px;
}
#subDataTextLight {
    font-family: 15px;
    color: #000000;
}
#subCard {
    color: "#DCDDDE";
    margin: 2px;
}